.imageContainer{
                    // width: 100px;
                    // height: 100px;
                    position: relative;
                    // border-radius: 50%;
                    overflow: hidden;

                    img{
                        object-fit: cover;
                    }}
                    .stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: .4px;

  
}
