.imageContainer {
  position: relative;
  overflow: hidden;
  img {
    object-fit: cover;
    object-position: 10% 40%;
   user-select: none;
      pointer-events: none;
  }
}
.stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.4px;
}
