.header {
  position: absolute;
  display: flex;
  z-index: 1;
  top: 0;
  color: white;
  padding: 35px;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  .logo {
    display: flex;
    cursor: pointer;
    p {
      margin: 0px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
  }
  .nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.line {
  &::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: white;
    display: block;
    margin-top: 2px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s linear;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}
