@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}
html {
  font-size: 62.5%;

}
body {
  margin: 0px;
  overflow-x: hidden;
  /* cursor: wait; */
}

@layer utilities {
  .text-custom {
    line-height: 1;
    font-size: clamp(3rem, 12vw, 10rem);
  }
}
@layer utilities {
  .text-custom2 {
    line-height: .9;
    font-size: clamp(5rem, 16vw, 14rem);
    
  }
}
@layer utilities {
  .text-custom3 {
    line-height: .9;
    font-size: clamp(3rem, 13vw, 12rem);
  }
}
